<!-- <div id="all">

</div>-->
<div id="slide1">
<div id="presentation" class="slide-inside">
  <div id="face">
  </div>
<!-- the top of presentation : contain menu -->
  <div id="pres-top">
    <div id="home">
      <div class="circle" data-page="1" onmouseover="animLine(this)" onmouseout="inanimeLine(this)" onClick="scrolling(this)">
        <div id="pict-circle-home">
          <svg class="home-icon home-icon-2" viewBox="57 -9 68 184" height="60px" width="67px" version="1.1">
            <g id="g3165" transform="translate(-67.238851,-78.299985)">
              <path inkscape:connector-curvature="0" id="path3151" d="m 104.63599,213.6591 c -3.69571,-0.10312 -5.96368,-0.28313 -6.504516,-0.51626 -4.507005,-1.94282 			-6.639776,-3.68783 -8.088187,-6.61764 l -1.045816,-2.11545 -0.184808,-27.14019 c -0.101644,-14.92711 -0.101644,-27.21587 0,-27.30836 0.101644,-0.0925 			12.000167,-10.2877 26.441167,-22.65602 21.41523,-18.34156 26.34872,-22.4443 26.75735,-22.25165 0.27555,0.1299 12.21485,10.82333 26.53179,23.76317 l 			26.03079,23.52697 -0.0229,13.8394 c -0.0126,7.61167 -0.10267,19.44436 -0.20012,26.29486 l -0.17719,12.45546 -0.77679,1.47811 c -1.54268,2.93547 		-3.99089,4.96719 -7.73404,6.41832 l -2.00373,0.77679 -12.7557,0.20121 -12.7557,0.2012 -0.18383,-13.53342 c -0.1011,-7.44339 -0.18396,-16.65481 			-0.18413,-20.46984 -2.8e-4,-6.75333 -0.0187,-6.98346 -0.69668,-8.71882 -1.29146,-3.30558 -2.92623,-5.21899 -5.66976,-6.63613 -1.12913,-0.58324 -1.7888,-0.6662 			-7.05809,-0.88767 -9.68545,-0.40708 -12.1028,0.007 -14.88817,2.55313 -1.57777,1.44199 -2.66655,3.20389 -3.52907,5.71086 -0.51971,1.51058 -0.54273,2.43259 			-0.54273,21.73968 l 0,20.16219 -7.54247,-0.0558 c -4.14836,-0.0307 -10.09584,-0.12704 -13.21663,-0.21411 z m 43.8709,-68.35024 c 3.05096,-0.80694 			5.95419,-2.24084 7.33714,-3.62378 4.31552,-4.31552 3.77002,-12.33056 -1.17581,-17.27618 -3.7138,-3.71365 -9.50831,-5.22746 -16.45166,-4.29797 -6.55014,0.87684 			-10.64965,3.8641 -12.89682,9.39774 -0.76143,1.87501 -0.94341,5.85317 -0.35962,7.86134 1.26609,4.35519 3.97829,6.25059 11.51093,8.04432 2.48963,0.59285 			3.39331,0.67603 6.36168,0.58559 2.34652,-0.0715 4.17239,-0.29387 5.67416,-0.69106 l 0,0 z"
       		style="fill:#aaccff;fill-opacity:1;stroke:#aaccff;stroke-width:0.27678797;stroke-linecap:round;stroke-linejoin:round;
		stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
    	      <path inkscape:connector-curvature="0" id="path3153" d="m 73.185551,149.83446 c -2.436963,-0.51491 -4.959264,-2.63749 -5.515796,-4.64168 -0.425829,-1.5335 			-0.36311,-3.30701 0.152898,-4.32355 2.146247,-4.22813 11.611755,-12.87945 37.661847,-34.42229 15.61708,-12.914981 21.23461,-17.611941 27.07207,-22.635678 			2.43573,-2.096202 4.89157,-4.047578 5.45742,-4.336391 2.66167,-1.358542 5.69523,-1.240613 8.01002,0.31139 0.66128,0.443364 3.70331,2.95919 6.76008,5.590723 			3.05677,2.631534 12.63769,10.638665 21.29093,17.793626 31.07218,25.69216 39.25216,33.14156 41.79825,38.06516 0.63125,1.22071 0.40118,3.16561 -0.58988,4.98651 			-1.24472,2.28697 -3.54345,3.64455 -6.19495,3.65862 -1.40809,0.007 -1.75059,-0.13452 -4.56401,-1.89205 -1.67292,-1.04506 -3.79035,-2.46816 -4.70539,-3.16244 			-1.684,-1.2777 -22.32912,-19.12477 -45.11944,-39.00435 -6.8505,-5.975561 -12.60054,-10.925401 -12.77787,-10.999631 -0.17733,-0.0742 -5.15952,4.08137 			-11.07152,9.234671 -29.48154,25.69814 -46.441194,40.28969 -48.418541,41.65778 -5.549157,3.83935 -7.16502,4.55929 -9.246118,4.11958 z"
       		style="fill:#80b3ff;fill-opacity:1;stroke:#80b3ff;stroke-width:0.27678797;stroke-linecap:round;
		stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
  	    </g>
          </svg>
        </div>
      </div>
    </div>
<!-- first menu option -->
    <div id="top-left">
      <div class="circle" data-page="2" data-id="top-left" id="circle-top-left" onmouseover="animLine(this)" onmouseout="inanimeLine(this)" onClick="scrolling(this)">
        <div id="pict-circle-top-left">
          <svg class="heart-icon heart-icon-2" viewBox="0 0 90.65 85.04" height="37px" width="43px" version="1.1">
            <path class="heart-2" d=" M45.137,23.041c4.912-24.596,40.457-27.775,42.128-0.435c1.398,22.88-21.333,40.717-42.128,50.522 M45.137,23.041
                         C40.225-1.555,5.057-4.734,3.387,22.606c-1.398,22.88,20.955,40.717,41.75,50.522" stroke-miterlimit="25" stroke-linejoin="round" 
                         stroke-linecap="round" stroke-width="10" stroke="#FF3532" fill="#FF3532">
          </svg>
        </div>
      </div>
      <div class="circle circle-arround" id="circle-top-left-arrond">
      </div>
      <div id="line-top-left" class="line">
        <svg height="70" width="50">
          <g fill="none" stroke="white" stroke-width="2">
            <path stroke-dasharray="4,5" d="M0 0 l37 53" stroke-dashoffset="0.00"/>
          </g>
          <%= t('warning.svg') %>
        </svg>
      </div>
    </div>
<!-- second menu option -->
    <div id="top-middle">
      <div class="circle" data-page="3" data-id="top-middle" id="circle-top-middle" onmouseover="animLine(this)" onmouseout="inanimeLine(this)" onClick="scrolling(this)">
        <div id="pict-circle-top-middle">
          <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="60" height="60" id="svg2" viewBox="0 -7 63 83">
            <defs id="defs4"/>
            <metadata id="metadata7">
              <rdf:RDF>
                <cc:Work rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                  <dc:title/>
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g transform="translate(0,-992.36218)" id="layer1">
              <path d="m 49.498354,1001.74 c 3.445106,0.4016 3.975703,1.0945 4.162825,5.4371 0.131649,3.0379 -0.06213,3.8781 -1.402451,6.0971 -1.200832,1.9884 -2.841584,3.9438 
                      -5.741596,6.8421 -2.98847,2.987 -4.200691,4.0513 -7.905104,6.9402 -8.840712,6.8946 -21.583756,15.665 -25.14794,17.3084 -1.595339,0.7354 -4.6509651,1.4476 
                      -6.2838779,1.4646 -1.5703403,0.016 -1.9889593,-0.1211 -2.7386292,-0.8998 -1.8672211,-1.9397 -1.8101225,-11.9688 0.1035438,-18.152 0.627338,
		      -2.0274 1.3651736,-3.5548 2.7640725,-5.722 2.9701288,-4.6007 7.5055648,-9.2072 11.8361338,-12.0214 4.871963,-3.1655 11.339707,-5.8235 16.704102,
		      -6.8645 1.898728,-0.3683 3.316353,-0.8493 8.376027,-0.8946 3.024121,-0.028 4.949239,0.4269 5.273337,0.4645 l 0,0 z" id="path4032-6"    		
  		      style="fill:#aa4400;stroke:#aa4400;stroke-width:0.08875135;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 37.907344,1001.35 c -2.985658,0.3338 -8.185416,1.56 -14.792208,4.8941 -6.606939,3.3343 -12.932089,9.2436 -16.8279127,16.2406 -3.8956765,
		       6.9971 -3.6662492,19.6345 -1.7642673,22.025 1.9019821,2.3903 4.3426972,2.4471 11.12818,-1.1126 3.506345,-1.8393 24.747957,-16.2933 28.9059,
		       -20.3562 4.157794,-4.0628 8.587174,-9.334 9.426927,-12.6786 0.839606,-3.3444 0.322914,-7.8609 -1.963075,-8.6788 -2.285987,-0.8177 -11.128031,
		       -0.6673 -14.113544,-0.3335 z" id="path3067-7" style="fill:none; stroke:#aa4400;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;
			stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 10.100081,1048.2123 c -5.6713181,-2.456 -4.6401908,-6.8775 -4.5614766,-8.7221 0.2511148,-5.8847 8.9214126,-13.3236 10.1360776,
		       -14.6442 6.242584,-6.7853 15.642099,-13.9289 22.756323,-17.8058 3.605889,-1.965 5.373429,-3.4099 11.306627,-4.8805 6.356606,-1.5757 5.67818,
		       2.2467 5.67818,2.2467" id="path3176" style="fill:none;stroke:#ffffff;stroke-width:2.00883651;stroke-linecap:round;
		       stroke-linejoin:miter;stroke-miterlimit:4.80000019;stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 23.307827,1048.1996 c 2.98558,-0.3338 8.185358,-1.5601 14.792211,-4.8942 6.606854,-3.3341 12.932077,-9.2435 16.827832,-16.2406 3.895754,
		       -6.997 3.530493,-19.968 1.628511,-22.3585 -1.901981,-2.3905 -7.672263,-1.3639 -14.520795,2.1135 -5.813365,2.9518 -20.133882,14.1797 -25.377459,
		       19.6889 -3.979677,4.1809 -8.5873003,9.334 -9.4269088,12.6784 -0.8396095,3.3445 -0.323044,7.8611 1.9629476,8.679 2.2859942,0.8178 11.1280822,
		       0.6674 14.1136612,0.3335 z" id="path3067" style="fill:#aa4400; fill-opacity:1;stroke:#aa4400;stroke-width:2;stroke-linecap:butt;
	    	       stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 20.669792,1025.6285 c -0.87767,-0.503 -5.113865,-4.8028 -5.524945,-5.6076 -0.541287,-1.0602 -0.281768,-1.6925 0.624997,-1.5224 0.607523,
		       0.1145 2.113736,1.3844 4.022119,3.3927 1.666911,1.7539 2.015094,2.1918 2.314859,2.9082 0.216417,0.5175 0.212435,0.5439 -0.132614,0.8892 -0.195662,
	 	       0.1957 -0.407149,0.3548 -0.469973,0.3538 -0.06282,-7e-4 -0.438317,-0.1869 -0.83443,-0.4139 l 0,0 z" id="path3980-02-6" 	
		       style="fill:#ffffff;stroke:#ffffff;stroke-width:0.07176667;stroke-linecap:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 23.610584,1023.109 c -0.87767,-0.503 -5.113865,-4.8028 -5.524945,-5.6076 -0.541287,-1.0602 -0.281768,-1.6925 0.624997,-1.5224 0.607523,
			0.1145 2.113736,1.3844 4.022119,3.3927 1.666911,1.7539 2.015094,2.1918 2.314859,2.9082 0.216417,0.5175 0.212435,0.5439 -0.132614,
			0.8892 -0.195662,0.1957 -0.407149,0.3548 -0.469973,0.3538 -0.06282,-7e-4 -0.438317,-0.1869 -0.83443,-0.4139 l 0,0 z" id="path3980-02-6-2"
			style="fill:#ffffff;stroke:#ffffff;stroke-width:0.07176667;stroke-linecap:round; stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 26.548084,1020.2965 c -0.87767,-0.503 -5.113865,-4.8028 -5.524945,-5.6076 -0.541287,-1.0602 -0.281768,-1.6925 0.624997,-1.5224 0.607523,
			0.1145 2.113736,1.3844 4.022119,3.3927 1.666911,1.7539 2.015094,2.1918 2.314859,2.9082 0.216417,0.5175 0.212435,0.5439 -0.132614,
			0.8892 -0.195662,0.1957 -0.407149,0.3548 -0.469973,0.3538 -0.06282,-7e-4 -0.438317,-0.1869 -0.83443,-0.4139 l 0,0 z" 
			id="path3980-02-6-6" style="fill:#ffffff;stroke:#ffffff;stroke-width:0.07176667;stroke-linecap:round;stroke-miterlimit:4;
			stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 29.485584,1017.859 c -0.87767,-0.503 -5.113865,-4.8028 -5.524945,-5.6076 -0.541287,-1.0602 -0.281768,-1.6925 0.624997,-1.5224 0.607523,
			0.1145 2.113736,1.3844 4.022119,3.3927 1.666911,1.7539 2.015094,2.1918 2.314859,2.9082 0.216417,0.5175 0.212435,0.5439 -0.132614,
			0.8892 -0.195662,0.1957 -0.407149,0.3548 -0.469973,0.3538 -0.06282,-7e-4 -0.438317,-0.1869 -0.83443,-0.4139 l 0,0 z" 
			id="path3980-02-6-0" style="fill:#ffffff;stroke:#ffffff;stroke-width:0.07176667;stroke-linecap:round;stroke-miterlimit:4;
			stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 32.985584,1015.234 c -0.87767,-0.503 -5.113865,-4.8028 -5.524945,-5.6076 -0.541287,-1.0602 -0.281768,-1.6925 0.624997,-1.5224 0.607523,
			0.1145 2.113736,1.3844 4.022119,3.3927 1.666911,1.7539 2.015094,2.1918 2.314859,2.9082 0.216417,0.5175 0.212435,0.5439 -0.132614,
			0.8892 -0.195662,0.1957 -0.407149,0.3548 -0.469973,0.3538 -0.06282,-7e-4 -0.438317,-0.1869 -0.83443,-0.4139 l 0,0 z" 
			id="path3980-02-6-4" style="fill:#ffffff;stroke:#ffffff;stroke-width:0.07176667;stroke-linecap:round;stroke-miterlimit:4;
			stroke-opacity:1;stroke-dasharray:none"/>
            </g>
          </svg>
        </div>
      </div>
      <div class="circle circle-arround" id="circle-top-middle-arrond">
      </div>
      <div id="line-top-middle" class="line">
        <svg height="60" width="20">
          <g fill="none" stroke="white" stroke-width="5">
            <path stroke-dasharray="4,5" d="M0 0 l0 48" />
          </g>
          <%= t('warning.svg') %>
        </svg>
      </div>
    </div>
<!-- third menu option -->
    <div id="top-right">
      <div class="circle" data-id="top-right" id="circle-top-right" onmouseover="animLine(this)" onmouseout="inanimeLine(this)" title="<%= t('warning.progress') %>">
        <div id="pict-circle-top-right">
          <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="60" height="60" id="svg2">
            <defs id="defs4"/>
            <metadata id="metadata7">
              <rdf:RDF>
                <cc:Work rdf:about="">
                  <dc:format>image/svg+xml</dc:format>
                  <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                  <dc:title/>
                </cc:Work>
              </rdf:RDF>
            </metadata>
            <g transform="translate(0,-992.36218)" id="layer1">
              <path d="m 13.486239,25.779817 -0.366973,11.376146 c 0,0 2.201835,3.577982 6.330275,3.853211 4.128441,0.275229 15.87156,0.27523 15.87156,0.27523 0,
			0 6.718455,-0.925462 6.788991,-2.844037 l 0.458715,-12.477064 z" transform="translate(0,992.36218)" id="path3857" 	
			style="fill:#87aade;stroke:#87aade;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"/>
              <path d="M 30.091743,33.577982 48.807339,23.027523 27.522936,12.844036 7.6146789,22.568807 25.412844,33.486238 z" 
			transform="translate(0,992.36218)" id="path3855" 
                       style="fill:#afc6e9;stroke:#afc6e9;stroke-width:1.70000005;stroke-linecap:butt;stroke-linejoin:round;
			stroke-miterlimit:15.60000038;stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 28.256881,20.550459 c -0.307551,0.744884 1.433241,0.372092 1.834863,1.376146 4.556575,1.009175 13.211318,1.804591 14.495412,3.302753 1.362135,
			1.573645 1.376147,13.394495 0,14.036697 -0.610228,0 -0.468403,4.791474 -0.917431,5.321101 -1.02832,1.212899 5.050914,1.643767 3.669724,
			0.733945 -0.928143,-0.611389 0.390292,-6.529491 -0.642201,-6.697249 -1.433016,-0.232834 -1.035255,-2.094748 -0.917431,-14.220183 -8.511991,
			-1.31211 -10.27523,-2.446483 -15.412845,-3.669724 -0.321885,0.511056 -2.110091,-0.183486 -2.110091,-0.183486 z" 
			transform="translate(0,992.36218)" id="path3859" style="fill:#ff7f2a;stroke:#ff7f2a;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;
			stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 31.009175,21.238533 a 1.7889909,1.6055046 0 1 1 -3.577982,0 1.7889909,1.6055046 0 1 1 3.577982,0 z" 
			transform="matrix(0.85125805,0,0,0.74854468,4.0710378,997.47337)"id="path3861" 
			style="fill:#ffb380;fill-opacity:1;stroke:#ffb380;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;
                       stroke-opacity:1;stroke-dasharray:none"/>
              <path d="m 46.972477,1030.986 c -1.083871,-0.2354 -0.815201,1.523 -2.568808,0.1835" id="path3863" style="fill:#ffb380;stroke:#ffb380;stroke-width:1px;
			stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1"/>
            </g>
          </svg>
        </div>
      </div>
      <div class="circle circle-arround" id="circle-top-right-arrond">
      </div>
      <div id="line-top-right" class="line">
        <svg height="70" width="50">
          <g fill="none" stroke="white" stroke-width="2">
            <path stroke-dasharray="4,5" d="M37 1 l-36 45" />
          </g>
          <%= t('warning.svg') %>
        </svg>
      </div>
    </div>
  </div>
<!-- the middle of presentation : contain text with design -->
  <div id="pres-middle">
    <div id="trapezoid">
    </div>
    <div id="trapezoid-inside">
    </div>
    <div id="who-i-am">
      <span id="who-jimmy"><%= t('presentation.me') %></span>
      <span id="who-dev"><%= t('presentation.dev') %></span>
    </div>
    <div id="circle">
    </div>
    <div id="circle-inside">
    </div>
    <div id="burst-12">
    </div>
  </div>
</div>
</div>
<div id="slide2">
<!--
  <div id="map" class="slide-inside">
   <div id ="lem1" class="lemmings" data-id="right" data-etape="0">
   </div>
  </div>
-->
  <div id="place">
  </div>
  <div id="rubicks" >
    <div id="rub-red">
      <div id="rub-red-top" class="rub-top">
        <div class="ruby-cube" id="rrt1"><p class="cube-txt-left cube-txt-top">Annimé </p>
					<p class="cube-txt-right cube-txt-bot">pour l</p></div>
        <div class="ruby-cube" id="rrt2"><p class="cube-txt-left cube-txt-top">D'une</p>
					<p class="cube-txt-right cube-txt-top">p</p>
					<p class="cube-txt-left cube-txt-bot">a</p>
					<p class="cube-txt-right cube-txt-bot"> logi</p></div>
        <div class="ruby-cube" id="rrt3"><p class="cube-txt-left cube-txt-top">assion</p>
					<p class="cube-txt-left cube-txt-bot">que,</p></div>
      </div>
      <div id="rub-red-middle" class="rub-mid">
        <div class="ruby-cube" id="rrm1"><p class="cube-txt-right cube-txt-top">les én</p></div>
        <div class="ruby-cube" id="rrm2"><p class="cube-txt-left cube-txt-top">igmes</p>
					<p class="cube-txt-right cube-txt-bot">se suc</p></div>
        <div class="ruby-cube" id="rrm3"><p class="cube-txt-left cube-txt-bot">cèdent,</p></div>
      </div>
      <div id="rub-red-bottom" class="rub-bot">
        <div class="ruby-cube" id="rrb1"><p class="cube-txt-right cube-txt-top">deven</p>
					<p class="cube-txt-right cube-txt-bot">de def</p></div>
        <div class="ruby-cube" id="rrb2"><p class="cube-txt-left cube-txt-top">ant</p>
					<p class="cube-txt-right cube-txt-top">a</p>
					<p class="cube-txt-left cube-txt-bot">is à</p>
					<p class="cube-txt-right cube-txt-bot">re</p></div>
        <div class="ruby-cube" id="rrb3"><p class="cube-txt-left cube-txt-top">utant</p>
					<p class="cube-txt-left cube-txt-bot">levés</p></div>
      </div>
    </div>
    <div id="rub-white">
      <div id="rub-white-top" class="">
        <div class="ruby-cube" id="rwt1"></div>
        <div class="ruby-cube" id="rwt2"></div>
        <div class="ruby-cube" id="rwt3"></div>
      </div>
      <div id="rub-white-middle" class="">
        <div class="ruby-cube" id="rwm1"></div>
        <div class="ruby-cube" id="rwm2"></div>
        <div class="ruby-cube" id="rwm3"></div>
      </div>
      <div id="rub-white-bottom" class="">
        <div class="ruby-cube" id="rwb1"></div>
        <div class="ruby-cube" id="rwb2"></div>
        <div class="ruby-cube" id="rwb3"></div>
      </div>
    </div>
    <div id="rub-orange">
      <div id="rub-orange-top" class="rub-top">
        <div class="ruby-cube" id="rot1"></div>
        <div class="ruby-cube" id="rot2"></div>
        <div class="ruby-cube" id="rot3"></div>
      </div>
      <div id="rub-orange-middle" class="rub-mid">
        <div class="ruby-cube" id="rom1"></div>
        <div class="ruby-cube" id="rom2"></div>
        <div class="ruby-cube" id="rom3"></div>
      </div>
      <div id="rub-orange-bottom" class="rub-bot">
        <div class="ruby-cube" id="rob1"></div>
        <div class="ruby-cube" id="rob2"></div>
        <div class="ruby-cube" id="rob3"></div>
      </div>
    </div>
    <div id="rub-yellow">
      <div id="rub-yellow-top" class="">
        <div class="ruby-cube" id="ryt1"></div>
        <div class="ruby-cube" id="ryt2"></div>
        <div class="ruby-cube" id="ryt3"></div>
      </div>
      <div id="rub-yellow-middle" class="">
        <div class="ruby-cube" id="rym1"></div>
        <div class="ruby-cube" id="rym2"></div>
        <div class="ruby-cube" id="rym3"></div>
      </div>
      <div id="rub-yellow-bottom" class="">
        <div class="ruby-cube" id="ryb1"></div>
        <div class="ruby-cube" id="ryb2"></div>
        <div class="ruby-cube" id="ryb3"></div>
      </div>
    </div>
    <div id="rub-blue">
      <div id="rub-blue-top" class="rub-top">
        <div class="ruby-cube" id="rbt1"></div>
        <div class="ruby-cube" id="rbt2"></div>
        <div class="ruby-cube" id="rbt3"></div>
      </div>
      <div id="rub-blue-middle" class="rub-mid">
        <div class="ruby-cube" id="rbm1"></div>
        <div class="ruby-cube" id="rbm2"></div>
        <div class="ruby-cube" id="rbm3"></div>
      </div>
      <div id="rub-blue-bottom" class="rub-bot">
        <div class="ruby-cube" id="rbb1"></div>
        <div class="ruby-cube" id="rbb2"></div>
        <div class="ruby-cube" id="rbb3"></div>
      </div>
    </div>
    <div id="rub-green">
      <div id="rub-green-top" class="rub-top">
        <div class="ruby-cube" id="rgt1"></div>
        <div class="ruby-cube" id="rgt2"></div>
        <div class="ruby-cube" id="rgt3"></div>
      </div>
      <div id="rub-green-middle" class="rub-mid">
        <div class="ruby-cube" id="rgm1"></div>
        <div class="ruby-cube" id="rgm2"></div>
        <div class="ruby-cube" id="rgm3"></div>
      </div>
      <div id="rub-green-bottom" class="rub-bot">
        <div class="ruby-cube" id="rgb1"></div>
        <div class="ruby-cube" id="rgb2"></div>
        <div class="ruby-cube" id="rgb3"></div>
      </div>
    </div>
  </div>
</div>
<div id="slide3" class="row col-sm-12">
  <div id="rugby" class="col-sm-6">
    <div id="prez-stadium">
      <p>Certains sports aprennent l'esprit d'équipe</p>
    </div>
    <div id="stadium" onmouseenter="replayRugby()" onmouseleave="pauseRugby()">
      <div>
        <div id="stade">
        </div>
      </div>
      <div id="around-player">
        <div id="player">
        </div>
        <div id="player-circle">
        </div>
      </div>
    </div>
    <div id="prez-rugby">
      <p>10 ans de pratique du rugby en compétition</p>
    </div>
  </div>
  <div id="walk" class="col-sm-6">
  </div>
</div>
